.form-control{
    border:1px solid #fac819;
}
.btn:hover{
    background-color: #87320e;
    color: #fac819 !important;
    
}
.input{
    background-color: #8f320b;
}
.krishnapatnam-image{
    height: 250px;
    margin-top: 150px;
    margin-left: 60px;
    }