<div class="container-fluid text-white text-center">
    <div class="row" style="background-color: #222222;">
        <div class="col-4 p-4">
            <p class="m-0 fs-5 heading">Address</p>
            <span class="p-2">3rd floor,shreshta aura, 1217/A, Rd Number 36, Jubilee Hills, Hyderabad, Telangana 500033</span>
        </div>
        <div class="col-4">
            <p>Timings</p>
            <p class="m-0">
                Sun-Thu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12:00PM-11:30PM
            </p>
            <p>------------------------------------</p>
            <p class="m-0">
                Fri-Sat &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12:00PM-1:00AM
            </p>
            <p>------------------------------------</p>
        </div>
        <div class="col-4 p-4">
            <p class="m-0 fs-5 heading">Contact Us</p>
            <p class="m-0">Email: 
            <span>krishnapatnam@gmail.com</span>
            </p> 
            <p>Phone:
                <span>+91 091696 95566</span>
            </p>            
        </div>
        <div style="background-color: #141414;width: 100%;">
            <div class="row">
                <div class="col">
                    <p class="mt-2">2021 © krishnapatnam All Rights Reserved. Designed by kushal Technologies</p>
                </div>
            </div>
        </div>
    </div>

</div>