<app-header></app-header>
<div class="container-fluid text-center">
     <div style="background-image: url(../../../assets/images/krishnapatnam3.jpeg);height: 100%;">
        <div class="" style="background-color: #000;opacity: 0.5;">
            <h1 style="padding-top: 120px;padding-bottom: 10px;opacity: 1!important;font-weight: bold;color: white;font-size: 30px;">Menu</h1>
            <h2  style="padding-bottom: 100px;font-weight: bold;color: #f7c912;font-size: 40px;">krishnapatnam Restaurant</h2>
        </div>
    </div>
         <cdk-virtual-scroll-viewport itemSize="150" class="container">
            <div class="row">
             <div *cdkVirtualFor="let data of images" class="viewport card col-lg-3 m-4">
                 <img src="{{data.imgUrl}}" class="event-image">
                </div>
            </div>
         </cdk-virtual-scroll-viewport>
    </div>
<!-- </div> -->
<app-footer></app-footer>