.welcome{
    font-family: "Brush Script MT", cursive;
  }
  .welcome-para{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    line-height: 42px;
  }
  .number{
    font-size: 70px;
  }
  .clients{
    margin-top: 220px;
    margin-bottom: 80px;
    color: black;
  }
  .clients-data{
    background-image: url(../../../assets/images/logo.png);
    background-repeat: no-repeat;
    background-position-x: center;
    // background-color: #000;
    color: white;
  }
  .quality-heading{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  .qualityContainer{
    margin-bottom: 80px;
  }