<app-header></app-header>
<div class="container-fluid text-center">
    <div style="background-image: url(../../../assets/images/krishnapatnam3.jpeg);height: 100%;">
        <div class="" style="background-color: #000;opacity: 0.5;">
            <h1 style="padding-top: 120px;padding-bottom: 10px;opacity: 1!important;font-weight: bold;color: white;font-size: 30px;">About Us</h1>
            <h2  style="padding-bottom: 100px;font-weight: bold;color: #f7c912;font-size: 40px;">krishnapatnam Restaurant</h2>
        </div>
    </div>
    <div class="container">
        <div class="text-center welcome">
            <h2 class="m-0" style="color: black;">WELCOME TO</h2>
            <h2 style="color: #87320e;font-weight: bold;">Krishnapatnam Restaurant</h2>
            <p  class="welcome-para">For the first time in Hyderabad - Andhra, Telangana & Rayalaseema delicacies under one roof !!
    
                Krishnapatnam Kitchen & Bar on Road No-10 Jubilee Hills aims to bring you the culinary & traditional legacies of Andhra, Telangana & Rayalaseema to your palate with amazing drinks.
                
                We aim to serve the original flavourful delicacies of 3 regions with authentic spices & ingredients straight from the Telugu heartland. For those who are in the mood to relish delicious local Telugu cuisine with an uptown traditional ambience, this will be their favourite go-to restaurant.
                
                While you feast on our flavourful delicacies, you can club it with delicious drinks of your choice.</p>
        </div>
    </div>
    <div class="container mb-4">
        <!-- <img src="../../../assets/images/krishnapatnam5.jpg" alt="" style="height: 450px;opacity: 0.5;position: relative;"> -->
        <div class="row clients-data">
            <div class="col-3 clients">
            <h2 class="number">15422</h2>
            <p>Clients Served</p>
            </div>
            <div class="col-3 clients">
            <h3 class="number">165</h3>
            <p>Dishes Menu</p>
            </div>
            <div class="col-3 clients">
            <h3 class="number">59</h3>
            <p>Working Hands</p>
            </div>
            <div class="col-3 clients">
                <h3 class="number">234</h3>
                <p>Positive Reviews</p>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row qualityContainer">
            <div class="col-4">
             <img src="https://anterafood.in/assets/images/icons/1.png" alt="fresh-menu" class="quality">
             <h4 class="quality-heading">Daily Fresh Menus</h4>
             <p>Krishnapatnam help you treat yourself with a different meal everyday, thanks to our menus and our awesome creative chefs!
             </p>
            </div>
            <div class="col-4">
                <img src="https://anterafood.in/assets/images/icons/2.png" alt="fresh-menu" class="quality">
                <h4 class="quality-heading">Fresh Ingredient</h4>
                <p>When cooking with fresh ingredients, your food can retain a lot more nutrients compared to processed foods.</p>
            </div>
            <div class="col-4">
                <img src="https://anterafood.in/assets/images/icons/3.png" alt="fresh-menu" class="quality">
                <h4 class="quality-heading">Tasty Meals</h4>
                <p>
                    Krishnapatnam creative chefs use fresh and seasonal ingredients to make affordable, tasty and nourishing meals.
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
